//
// Package Name: style.scss
// Subpackage: bulk_px_em_calc
// Author: Raven Developers
// Author URI: https://www.ravendevelopers.com
// Description: SCSS
// Author: anithegregorian
// Created: 31/03/22
// Version: 1.0
// License: Creative Commons 3.0 Attribution
// License URI: https://creativecommons.org/licenses/by/3.0/us/
// Tags: app
//

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
	--font-family: "Red Hat Display", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

label {
	cursor: pointer;
}

.who-uses {
	padding: 0;
	display: inline-block;

	> li {
		display: inline-block;
		margin-right: 16px;
	}
}
