//
// Package Name: style.scss
// Subpackage: bulk_px_em_calc
// Author: Raven Developers
// Author URI: https://www.ravendevelopers.com
// Description: SCSS
// Author: anithegregorian
// Created: 31/03/22
// Version: 1.0
// License: Creative Commons 3.0 Attribution
// License URI: https://creativecommons.org/licenses/by/3.0/us/
// Tags: app
//

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
	--font-family: "Red Hat Display", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Blue Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
	--primary: #1e88e5;
	--primary-hover: #1976d2;
	--primary-focus: rgba(30, 136, 229, 0.125);
	--primary-inverse: #FFF;
}

/* Blue Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--primary: #1e88e5;
		--primary-hover: #2196f3;
		--primary-focus: rgba(30, 136, 229, 0.25);
		--primary-inverse: #FFF;
	}
}

/* Blue Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
	--primary: #1e88e5;
	--primary-hover: #2196f3;
	--primary-focus: rgba(30, 136, 229, 0.25);
	--primary-inverse: #FFF;
}

/* Blue (Common styles) */
:root {
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);
}

label {
	cursor: pointer;
	margin-bottom: 1rem;
}

.who-uses {
	padding: 0;
	display: inline-block;

	> li {
		display: inline-block;
		margin-right: 16px;
	}
}

code, code.hljs {
	white-space: pre;
	padding: 1rem;
	width: 100%;
}

@media only screen and (prefers-color-scheme: dark) {
	.hljs {
		background: rgba(45, 60, 72, 0.5);
	}
}

@media only screen and (prefers-color-scheme: light) {
	.hljs {
		background: rgba(45, 60, 72, 1);
	}
}

#code-wrapper {
	position: relative;
	display: none;
}

#btn-copy {
	font-size: 0.75rem;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	text-decoration: none;
	display: inline-block;
	padding: 0.25rem 0.5rem;
	border-radius: 0 0 0 8px;
	transition: all 0.5s ease-in-out;

	&:hover {
		background-color: var(--primary);
		color: var(----primary-inverse);
	}

	svg {
		max-width: 16px;
	}
}

#copied {
	position: absolute;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-50px);
	transition: all 0.5s ease-in-out;

	&.really {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
	}
}
